/* Reset DOM */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*_*_*_*_*_*_*_*_*_*_*_* General Styling *_*_*_*_*_*_*_*_*_*_*_*/
:root {
  font-size: 62.5%;

  /* Custom Variables */
  --color-dark-gray-blue: hsl(217, 19%, 35%);
  --color-dark-blue-desaturated: hsl(214, 17%, 51%);
  --color-gray-blue: hsl(212, 23%, 69%);
  --color-light-gray-blue: hsl(210, 46%, 95%);
  --box-shadow: hsla(212, 23%, 69%, 0.412);
}

body {
  font-size: 1.5rem;
  font-family: 'Manrope', sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--color-light-gray-blue);
}

main {
  flex: 1;
}

footer {
  display: flex;
  flex-shrink: 0;
}

.hidden {
  display: none;
  opacity: 0;
}

/*_*_*_*_*_*_*_*_*_*_*_* Main Styling *_*_*_*_*_*_*_*_*_*_*_*/

#article-section {
  display: flex;
  justify-content: center;
  align-items: center;
  /* flex: 1; */
  height: 100vh;
  width: 100%;
}

.article--content {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80rem;
  height: 30rem;
  background-color: white;
  border-radius: 1rem;
}

.article--content__img {
  width: 40%;
  height: 100%;
  border-radius: inherit;
}

.article--content__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-top-left-radius: inherit;
  border-bottom-left-radius: inherit;
  /* object-position: top 0rem left 0.2rem; */
}

.article--content__body {
  width: 60%;
  height: 100%;
  padding: calc(1.5rem + 1vw);
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: flex-start;
  /* overflow: visible; */
}

.article--body__title {
  font-size: calc(2rem);
  color: var(--color-dark-blue-desaturated);
  font-weight: 700;
  word-spacing: 0.1rem;
}

.article--body__para {
  font-size: calc(1.2rem);
  color: var(--color-gray-blue);
  letter-spacing: 0.1rem;
  word-spacing: 0.1rem;
  word-wrap: break-word;
}

.article--author__body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
}

.article--author__details {
  display: flex;
  justify-content: center;
  align-items: center;
}

.article--author__details img {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  margin-right: calc(1rem + 0.5vw);
}

.author--info__title {
  font-weight: 700;
  font-size: calc(1.3rem);
}

.article--info__date {
  font-size: calc(1.2rem);
  color: var(--color-gray-blue);
}

.article__share-btn {
  border-radius: 50%;
  background-color: var(--color-light-gray-blue);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  height: 3rem;
  width: 3rem;
  text-align: center;
  position: relative;
}

.article__share-btn > img {
  object-fit: cover;
}

.share-btn__tooltip {
  position: absolute;
  background-color: var(--color-dark-gray-blue);
  display: flex;
  justify-content: center;
  align-items: center;
  top: -7rem;
  box-shadow: 0rem 0.4rem 0.8rem 0.4rem #9eafc269;

  /* padding: calc(1rem) calc(2rem); */
  border-radius: 0.8rem;
  width: 25rem;
  height: 5rem;
  z-index: 1;

  transition: all 0.45s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

/* Creating the arrow for tooltip */
.share-btn__tooltip::after {
  content: '';
  position: absolute;
  border-color: var(--color-dark-gray-blue) transparent transparent transparent;
  border-width: 1.2rem;
  border-style: solid;
  top: 100%;
  left: 50%;
  margin-left: -1.3rem;
}

.share--tooltip__para {
  font-size: 1.2rem;
  letter-spacing: 0.5rem;
  text-transform: uppercase;
  color: var(--color-gray-blue);
  margin-right: calc(1.5rem);
}

.share--socials {
  display: flex;
  list-style-type: none;
  justify-content: space-evenly;
  align-items: center;
}

.share--socials a {
  text-decoration: none;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.share__icons {
  /* margin-right: calc(1rem); */
  padding: 1rem;
}

/* .share-btn__tooltip:active,
.share-btn__tooltip:hover {
  opacity: 1;
} */

#attribution {
  justify-content: center;
  align-items: center;
  padding: calc(1rem + 0.3vw);
  background-color: rgb(255, 166, 0);
}

.attribution__content {
  font-size: calc(1rem + 0.3vw);
  color: white;
}

.attribution__content a {
  color: hsl(228, 45%, 44%);
  text-decoration: none;
}

/*_*_*_*_*_*_*_*_*_*_*_* Media Queries *_*_*_*_*_*_*_*_*_*_*_*/

@media screen and (max-width: 900px) {
  .article--content {
    width: 85%;
    height: 30rem;
  }

  .share-btn__tooltip {
    width: calc(21rem + 2vw);
  }
}

@media screen and (max-width: 700px) {
  .article--content {
    width: 85%;
    height: 60rem;

    display: flex;
    flex-direction: column;
  }
  .article--content__body {
    padding: calc(1.5rem + 1vw);
  }

  .article--content__img {
    width: 100%;
    height: 40%;
    border-radius: inherit;
  }

  .article--content__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
    border-bottom-left-radius: unset;
  }

  .article--content__body {
    width: 100%;
    height: 60%;
    padding: 0 calc(1.5rem + 1vw);
  }
}

@media screen and (max-width: 450px) {
  .article--content {
    height: 50rem;
  }

  .article--content__body {
    width: 100%;
    height: 60%;
    /* padding: calc(1.5rem + 1vw); */
  }

  .article--body__title {
    font-size: calc(1.3rem);
    color: var(--color-dark-blue-desaturated);
    font-weight: 700;
    word-spacing: 0.2rem;
  }

  .article--body__para {
    font-size: calc(1rem);
    color: var(--color-gray-blue);
    letter-spacing: 0.1rem;
    word-spacing: 0.1rem;
    word-wrap: break-word;
  }

  .article--author__body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin-bottom: 0;
  }
}
