/* Reset DOM */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*_*_*_*_*_*_*_*_*_*_*_* General Styling *_*_*_*_*_*_*_*_*_*_*_*/
:root {
  font-size: 10px;
  /* Custom Variable */
  --color-blue: hsl(223, 87%, 63%);
  --color-box-shawdow: hsl(223, 94%, 87%);
  --color-box-shawdow-hover: hsl(223, 87%, 63%);
  --color-pale-blue: hsl(223, 100%, 88%);
  --color-light-red: hsl(354, 100%, 66%);
  --footer-icon-hover: rgb(212, 212, 212);
  --color-hero-title: rgb(165, 165, 165);
}

body {
  font-family: 'Libre Franklin', sans-serif;
  font-size: 1.5rem;
}

main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header,
section,
footer {
  display: flex;
}

/*_*_*_*_*_*_*_*_*_*_*_* Main Styling *_*_*_*_*_*_*_*_*_*_*_*/
#header-section {
  justify-content: center;
  align-items: center;
  text-align: center;
}

.ping-section__header {
  margin-top: calc(7vh + 2vw);
  font-weight: 600;
  letter-spacing: 0.1rem;
  font-size: calc(2rem + 1vw);
}
.ping-section__header span {
  color: var(--color-blue);
}

#ping-section {
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ping--main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.ping-main__content {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 40%;
  height: 20rem;
}
.ping-content__title {
  font-size: calc(2rem + 1.5vw);
  letter-spacing: 0.1rem;
  font-weight: normal;
  color: var(--color-hero-title);
}

.ping-content__title span {
  font-weight: 700;
  color: black;
}

.ping-content__para {
  font-size: calc(1rem + 0.3vw);
  letter-spacing: 0.1rem;
}

.ping-main__form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
}

.ping--form__email input,
.ping__notify-btn {
  border-radius: 3rem;
}

.ping--form__email {
  display: flex;
  width: 100%;
}

.ping--form__email input {
  width: 70%;
  padding: calc(1rem);
  border: 0.1rem solid var(--color-pale-blue);
  color: var(--color-pale-blue);
  margin-right: calc(0.7rem + 0.5vw);
}

.ping--form__email input:focus {
  border-color: var(--color-light-red);
}

.ping__notify-btn {
  width: 30%;
  border: none;
  padding: calc(1rem);
  font-size: calc(1rem +0.3vw);
  color: white;
  background-color: var(--color-blue);
  box-shadow: 0rem 0.4rem 1rem 0.15rem var(--color-pale-blue);
}

.ping__notify-btn:hover,
.ping__notify-btn:active {
  background-color: var(--color-pale-blue);
}

.ping--email__error-msg {
  color: var(--color-light-red);
  font-style: italic;
  font-size: 1.2rem;
  margin-left: 1.5rem;
  margin-top: 0.6rem;
}

.hidden {
  display: none;
}

.ping-main__img {
  width: 45%;
}

.ping-main__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#ping-socials {
  justify-content: center;
  align-items: center;
  height: 20rem;
}

.ping-section__footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: calc(1.5rem + 1vw);
  width: 100%;
}

.ping-footer--icons {
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
  width: 10%;
}

.ping-icons__icon a {
  text-decoration: none;
}

.ping-icons__icon a i {
  color: var(--color-blue);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: calc(1.2rem + 0.3vw);
  width: calc(2.5rem + 0.5vw);
  height: calc(2.5rem + 0.5vw);
  border-radius: 50%;
  border: 1px solid var(--footer-icon-hover);
  transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.ping-icons__icon i:hover,
.ping-icons__icon i:active {
  color: white;
  background-color: var(--color-blue);
  border: none;
}

.ping--copyright__para {
  font-size: calc(0.7rem + 0.3vw);
  margin-top: calc(1rem + 0.5vw);
  color: var(--footer-icon-hover);
}

#attribution {
  justify-content: center;
  align-items: center;
  background-color: var(--color-pale-blue);
  padding: calc(1rem + 0.5vw);
  height: max-content;
}

.attribution__content {
  color: red;
}

.attribution__content a {
  color: hsl(228, 45%, 44%);
  text-decoration: none;
}

/*_*_*_*_*_*_*_*_*_*_*_* Media Queries *_*_*_*_*_*_*_*_*_*_*_*/
