<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- displays site properly based on user's device -->

    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="./images/favicon-32x32.png"
    />

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap"
      rel="stylesheet"
    />

    <!-- CSS Stylesheet -->
    <link rel="stylesheet" href="./styles.css" />

    <!-- Js File -->
    <script defer src="./index.js"></script>

    <title>Frontend Mentor | Article preview component</title>
  </head>
  <body>
    <main>
      <section id="article-section">
        <div class="article--content">
          <div class="article--content__img">
            <img src="./images/drawers.jpg" alt="drawers-img" />
          </div>

          <div class="article--content__body">
            <h1 class="article--body__title">
              Shift the overall look and feel by adding these wonderful touches
              to furniture in your home
            </h1>
            <div class="article--body__para">
              Ever been in a room and felt like something was missing? Perhaps
              it felt slightly bare and uninviting. I've got some simple tips to
              help you make any room feel complete.
            </div>
            <div class="article--author__body">
              <div class="article--author__details">
                <img src="./images/avatar-michelle.jpg" alt="author-img" />
                <div class="author--details__info">
                  <h2 class="author--info__title">Michelle Appleton</h2>
                  <div class="article--info__date">28 Jun 2020</div>
                </div>
              </div>
              <div class="article__share-content">
                <img
                  src="./images/icon-share.svg"
                  alt="share-icon"
                  class="article__share-btn"
                />
                <!-- Share Tooltip -->
                <div class="share-btn__tooltip hidden">
                  <p class="share--tooltip__para">Share</p>
                  <ul class="share--socials">
                    <li class="share__icons">
                      <a href="https://facebook.com" target="_blank"
                        ><img
                          src="./images/icon-facebook.svg"
                          alt="facebook-icon"
                      /></a>
                    </li>
                    <li class="share__icons">
                      <a href="https://twitter.com" target="_blank"
                        ><img
                          src="./images/icon-twitter.svg"
                          alt="twitter-icon"
                      /></a>
                    </li>
                    <li class="share__icons">
                      <a href="https://pinterest.com" target="_blank">
                        <img
                          src="./images/icon-pinterest.svg"
                          alt="pinterest-icon"
                        />
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>

    <footer id="attribution">
      <div class="attribution__content">
        Challenge by
        <a href="https://www.frontendmentor.io?ref=challenge" target="_blank"
          >Frontend Mentor</a
        >. Coded by <a href="#">Samuel Oyediran</a>.
      </div>
    </footer>
  </body>
</html>
