<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- displays site properly based on user's device -->

    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="./images/favicon-32x32.png"
    />

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap"
      rel="stylesheet"
    />

    <!-- CSS Styles -->
    <link rel="stylesheet" href="./styles.css" />

    <title>Frontend Mentor | Base Apparel coming soon page</title>
  </head>
  <body>
    <main>
      <!-- Base Logo -->
      <div class="base-logo__header">
        <img src="./images/logo.svg" alt="" />
      </div>

      <section id="base-section">
        <div class="base-section--content">
          <h1 class="base--content__title">We're <span>Coming Soon</span></h1>
          <p class="base--content__para">
            Hello fellow shoppers! We are currently builing our new fashion
            store. Add your email below to stay up-to-date with announcements
            and our launch deals
          </p>
          <form class="base--content__form">
            <input type="email" placeholder="Email Address" />
            <button>
              <img src="./images/icon-arrow.svg" alt="button-img" />
            </button>
            <div class="base--form__error-icon">
              <img src="./images/icon-error.svg" alt="error-icon" />
            </div>
          </form>
        </div>
      </section>
      <footer id="attribution">
        <p class="attribution__content">
          Challenge by
          <a href="https://www.frontendmentor.io?ref=challenge" target="_blank"
            >Frontend Mentor</a
          >. Coded by <a href="#">Samuel Oyediran</a>.
        </p>
      </footer>
    </main>
  </body>
</html>
