<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- displays site properly based on user's device -->

    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="./images/favicon-32x32.png"
    />

    <!-- Google Fonts  -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter&family=Lexend+Deca&display=swap"
      rel="stylesheet"
    />

    <!-- CSS -->
    <link rel="stylesheet" href="./styles.css" />

    <title>Frontend Mentor | Stats preview card component</title>
  </head>
  <body>
    <main>
      <!--************** Stats Card Section    **************************-->
      <section id="stats-section">
        <div id="stats-card">
          <!-- Stats Card Image -->
          <div class="stats-card--image">
            <img src="./images/image-header-desktop.jpg" alt="company-img" />
          </div>
          <!-- Stats Card Content -->
          <div class="stats-card--content">
            <!-- Stats Card Information -->
            <div class="stats-card--info">
              <h2 class="stats-card--info__title">
                Get <span>insights</span> that help your business grow.
              </h2>
              <p class="stats-card--info__para">
                Discover the benefits of data analytics and make better
                decisions regarding revenue, customer experienece, and overall
                efficency.
              </p>
            </div>
            <!-- Stats Card Statistics -->
            <div class="stats-card--statistics">
              <!-- Company Stats -->
              <div class="stats-card--statistics-1">
                <h3 class="stats-card--statistics--title">10k&plus;</h3>
                <p class="stats-card--statistics--para">COMPANIES</p>
              </div>
              <!-- Templates Stats -->
              <div class="stats-card--statistics-2">
                <h3 class="stats-card--statistics--title">314</h3>
                <p class="stats-card--statistics--para">TEMPLATES</p>
              </div>
              <!-- Queries Stats -->
              <div class="stats-card--statistics-3">
                <h3 class="stats-card--statistics--title">12M&plus;</h3>
                <p class="stats-card--statistics--para">QUERIES</p>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!--**************  Frontend Mentor Attribution **************-->
      <footer id="attribution">
        <div class="attribution--content">
          Challenge by
          <a href="https://www.frontendmentor.io?ref=challenge" target="_blank"
            >Frontend Mentor</a
          >. Coded by <a href="#">Samuel Oyediran</a>.
        </div>
      </footer>
    </main>
  </body>
</html>
