/* Reset DOM */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*_*_*_*_*_*_*_*_*_*_*_* General Styling *_*_*_*_*_*_*_*_*_*_*_*/
:root {
  font-size: 10px;

  /* Custom variables */
  --color-desaturated-red: hsl(0, 36%, 70%);
  --color-soft-red: hsl(0, 93%, 68%);
  --color-dark-grayish-red: hsl(0, 6%, 24%);
}

body {
  font-size: 1.4rem;
  font-family: 'Josefin Sans', sans-serif;
  background: url('./images/bg-pattern-desktop.svg') no-repeat;
  background-size: cover;
}

main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

section,
footer {
  display: flex;
}

/*_*_*_*_*_*_*_*_*_*_*_* Main Styling *_*_*_*_*_*_*_*_*_*_*_*/

#attribution {
  justify-content: center;
  align-items: center;
  background-color: var(--color-dark-grayish-red);
  padding: calc(1rem + 0.3vw);
}

.attribution__content {
  font-size: calc(1rem + 0.4vw);
  color: white;
}

.attribution__content a {
  color: hsl(228, 45%, 44%);
  text-decoration: none;
}

/*_*_*_*_*_*_*_*_*_*_*_* Media Queries *_*_*_*_*_*_*_*_*_*_*_*/
